body{
    background-color: aqua; /* color de fondo del elemento */
}
h1{
    color: red;
    font-family: 'Sigmar One', cursive;
}   
h2{
    font-family: sans-serif;
    
}
span{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
em{
     font-family: 'Roboto', sans-serif;
}
small{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}
